

.header {
    width: 1000px;
    margin: 0 auto;
    color: rgb(245, 127, 182);
    font-family: 'Courier New';
    font-size: 50px;
    text-align: center;
    background-color:rgb(163, 211, 205);
    border: 3px solid black;
    margin-top: 300px;

}

#introduction p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

p {
    color:  rgb(245, 127, 182);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}


.navigation {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: white;
    padding-top: 40px;

}

.navigation ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation li{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 50px;
    background-color: rgb(245, 127, 182);
    display: inline-block;
    margin: 30px;
    color: black;
}
